@model IEnumerable<Ecuafact.Web.Domain.Entities.IssuePoint>
@using Ecuafact.Web.Domain.Entities;
@using System.Globalization;
@using Ecuafact.Web.MiddleCore.ApplicationServices;

@{
    ViewBag.Title = "Puntos Emisón";
    var _Id = ViewBag.EstablishmentId;

    this.PageOptions(model =>
    {
        model.DataTables = true;
        model.Select2 = true;
    });
}


<div class="kt-portlet">

    <div class="kt-portlet__head">

        <div class="kt-portlet__head-toolbar">
            <button type="button" id="btnNuevo" class="btn btn-pill btn-outline-info btn-light">
                <i class='fa fa-gift'></i> Punto Emisión <i class='fa fa-plus'></i>
            </button>
        </div>
        <div class="kt-portlet__head-toolbar">
            <a href="@Url.Action("index", "Cooperativa")" title="Volver establecimientos" data-toggle="tooltip" data-theme="dark" class="btn btn-icon btn-circle btn-success">
                <i class='fa fa-arrow-alt-circle-left'></i>  
            </a>
        </div>
    </div>

    <div class="kt-portlet__body">

        <table class="table table-striped table-bordered table-hover responsive dt-responsive table-checkable order-column" id="listaProductos" name="listaPuntoEmision" style="width:100%!important">
            <thead>
                <tr>
                    <th><i class="fa fa-bars"></i></th>
                    <th class="text-center">Código Punto Emisión</th>
                    <th class="text-center">Transportista</th>
                    <th class="text-center">RUC</th>
                    <th class="text-center">Teléfono</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Placa Vehículo</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class=" text-success">
                            <label class="hidden" style="display:none; visibility:hidden">@(Convert.ToInt32(item.Id))</label>
                            <i class="fa fa-gift text-warning"></i>
                        </td>
                        <td class="text-center"><a onclick="editarPuntoEmision(@item.Id)" href="javascript:;" title="Editar Registro">@(item.Code)</a></td>
                        <td>@item.Name</td>
                        <td>@item.CarrierRUC</td>
                         <td>@item.CarrierPhone</td>
                        <td>@item.CarrierEmail</td>
                        <td>@item.CarPlate</td> 
                        <td>
                            <button type="button" onclick="eliminarPuntoEmision(@item.Id)" class="tabledit-delete-button btn btn-pill btn-sm btn-danger" style="float:none;">                                
                                <span class="la la-trash"></span>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>



<div id="myModal" class="modal fade" aria-hidden="true">
    <div class="col-xs-12" style="text-align:center;"><img src="~/Images/ripple_white.gif" /></div>
</div>


@section Scripts {

    <script>
        var selectedId = 0;

        function editarPuntoEmision (id){
            showLoader();

            $.get("@Url.Action("EditarPuntoEmision", "Cooperativa")", { id: id }, function (data) {
                $("#myModal").html(data);
                hideLoader();

                $("#myModal").fadeIn();
                $("#myModal").modal("show");
            });
        }

        function eliminarPuntoEmision(id) {
            var urlAction = '@Url.Action("EliminarPuntoEmiAsync", "Cooperativa")/' + id;

            Swal.fire({
                title: 'Punto Emisión',
                text: "¿Esta usted seguro de eliminar este registro?",
                icon: 'info',
                type: 'question',
                showCancelButton: true,
                cancelButtonText: 'Cancelar',
                confirmButtonText: 'Eliminar'

            }).then(function (result) {
                if (result.value) {
                    // done function
                    showLoader();

                    $.ajax({
                        url: urlAction,
                        type: "post",
                        async: true,
                        cache: false,
                        error: function (error) {
                            console.log(error);
                            toastr.error("No se pudo eliminar el registro!");
                        },
                        success: function (result) {
                            toastr.success("Registro eliminado correctamente!");
                            // refresh page
                            location.reload();
                        }
                    }).always(function () {
                        hideLoader();
                    });
                }
            });

        }

        $("#myModal").on('hide.bs.modal', function () {
            location.reload();
        });


        $("#btnNuevo").on("click", function () {
            crearPuntoEmision(@_Id);
        });

        $('#listaPuntoEmision').DataTable({
            "language": {
                "url": "@Url.Content("~/scripts/dt_spanish.json")"
            },
            dom: 'BRfrtip',
            buttons: {
                buttons: [
                    { extend: 'excel', className: 'btn btn-success btn-elevate btn-pill', text:' <i class="la la-file-excel-o "></i> ' },
                    { extend: 'pdf', className: 'btn btn-danger btn-elevate btn-pill', text:'  <i class="la la-file-pdf-o "></i> ' },
                    { extend: 'print', className: 'btn btn-brand btn-elevate btn-pill', text:' <i class="flaticon2-printer"></i> ' }
                ]
            }
        } );

    </script>
}
